@model IEnumerable<ProyectoVideoteca.Models.tb_MOVIE>

@{
    ViewData["Title"] = "Movies";
}

<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1>Movies</h1>

<body>
    <p>
        <a asp-action="createMovies">Create Movie</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TITLE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SYNOPSIS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RELEASE_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GENRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ACTOR_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DIRECTOR_NAME)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TITLE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SYNOPSIS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RELEASE_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GENRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ACTOR_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIRECTOR_NAME)
                    </td>
                    <td>
                        <select id="selectCRUD" onchange="redirectToView(this)">
                            <option value="" selected>Select an option</option>
                            <option value="@Url.Action("editMovies", new { title = item.TITLE })">Edit</option>
                            <option value="@Url.Action("detailsMovies", new { title = item.TITLE })">Details</option>
                            <option value="@Url.Action("deleteMovies", new { title = item.TITLE })">Delete</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>