@model IEnumerable<ProyectoVideoteca.Models.tb_USER>

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Admin" asp-action="DownloadPDF">
    <button class="btn btn-success" type="submit">Report</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMG)
                </td>
                <td>
                    @Html.ActionLink("Edit","Edit", new {userName = @item.USERNAME})
                    @Html.ActionLink("Details","Details", new {userName = @item.USERNAME})
                    @Html.ActionLink("Delete","Delete", new {userName = @item.USERNAME})
                </td>
            </tr>
        }
    </tbody>
</table>
