@model ProyectoVideoteca.Models.tb_SERIE

@{
    ViewData["Title"] = "seriesDetails";
}

<h1>seriesDetails</h1>

<div>
    <h4>tb_SERIE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TITLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMG)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.IMG)" class="imageMovie" width="50%" height="auto" style="max-width: 100%; height: auto;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RELEASE_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RELEASE_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SCORE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SCORE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GENRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GENRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SYNOPSIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SYNOPSIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLASS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLASS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QTY_SEASONS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QTY_SEASONS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIDEO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIDEO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECTOR_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECTOR_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACTOR_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACTOR_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QSTREAM_SCORE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QSTREAM_SCORE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACTOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACTOR.ACTOR_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECTOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECTOR.DIRECTOR_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="editSeries" asp-route-TITLE="@Model?.TITLE">Edit</a> |
    <a asp-action="displaySeries">Back to List</a>
</div>
