@model ProyectoVideoteca.Models.tb_MOVIEANDCOMMENTS


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/movies_series_light.css" asp-append-version="true">
    }
    else
    {
        <link rel="stylesheet" href="~/css/movie_and_serie_info.css" asp-append-version="true">
    }
</head>

<body>
    <div class="movie-details">
        <div class="movie-details__poster">
            <img src="@Model.movie.IMG" alt="Movie Image">
        </div>
        <div class="movie-details__content">
            <div class="movie-details__video-info">
                <iframe src=@Model.movie.VIDEO frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="movie-details__info">
                <h1 class="movie-details__title">@Model.movie.TITLE</h1>
                <div class="movie-details__info">
                    <p><strong>Director: </strong>@Model.movie.DIRECTOR_NAME</p>
                    <p><strong>Actors: </strong>@Html.ActionLink("Actors Details", "ActorsDetails", new { TITLE = Model.movie.TITLE }, new { @class = "actors_link" })</p>
                    <p><strong>Synopsis: </strong>@Model.movie.SYNOPSIS</p>
                    <p><strong>Classification: </strong>@Model.movie.CLASS</p>
                    <p><strong>Duration: </strong>@Model.movie.DURATION</p>
                    <p><strong>Release Date: </strong>@Model.movie.RELEASE_DATE</p>
                    <p><strong>IMDb Score: </strong>@Model.movie.SCORE/10</p>
                    <p><strong>QSTREAM Score: </strong>@Model.movie.QSTREAM_SCORE/10</p>
                </div>
            </div>
        </div>
    </div>


    @if (Model.comments.Count != 0)
    {
        <!-- Comment Section -->
        <div class="all-comment-section">
            <h1 class="movie-details__title">Comment Section</h1>
            <!-- ALL COMMENTS -->
            <div class="comment-section">
                <!-- Mostrar los comentarios de la página actual -->
                @for (int i = (Model.currentPage - 1) * Model.itemsPerPage; i < Math.Min(Model.currentPage * Model.itemsPerPage, Model.comments.Count); i++)
                {
                    var comment = Model.comments[i];
                    <div class="commentInList">
                        <div class="comment-section">
                            <label>Username:</label>
                            <label>@comment.USERNAME</label>
                        </div>
                        <div class="comment-section">
                            <label>Comment:</label>
                            <label>@comment.COMMENT</label>
                        </div>
                        <div class="comment-section">
                            <label>Score:</label>
                            <label>@comment.RATING</label>
                        </div>
                    </div>
                }
            </div>

            <!-- Controles de paginación -->
            <div id="pagination">
                @if (Model.totalPages > 1)
                {
                    @for (int i = 1; i <= Model.totalPages; i++)
                    {
                        <a href="@Url.Action("detailsMovies", "Client", new { TITLE = Model.movie.TITLE, page = i })">@i</a>
                    }
                }
            </div>
        </div>

    }


    <div class="details-button">

        @if (User.IsInRole("user")) //Only users can comment
        {

            <button id="pop-up-button" class="pop-up-button"><br>Add Comment</button>
        }
        <form action="@Url.Action("ClientMain", "Client")" method="GET">
            <button type="submit" class="buttons">
                Go Back
            </button>
        </form>

        <div id="modal1" class="modal">

            <div class="pop-up-window">
                <span class="close-pop-up">&times;</span>
                <form action="@Url.Action("userComment", "Client")" method="POST">
                    <div class="write-comment-section">
                        <div class="comment-section">
                            <label for="comment" class="commentLB">Comment:</label>
                            <textarea id="commentTA" name="comment" required style="color: black;"></textarea>
                        </div>
                        <div class="comment-section">
                            <label for="score">Score:</label>
                            <input type="text" id="score" name="score" required style="color: black;">
                        </div>
                        <div class="comment-section">
                            <button id="btnComment" type="submit" class="submitBTN">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/js/detailsMoviesAndSeries.js"></script>
</body>
</html>
