@model ProyectoVideoteca.Models.tb_SERIEANDCOMMENTS

@{
    ViewData["Title"] = "detailsSeries";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/movies_series_light.css">
    }
    else
    {
        <link rel="stylesheet" href="~/css/movie_and_serie_info.css">
    }


</head>
<body>
    <div class="movie-details">
        <div class="movie-details__poster">
            <img src="@Model.serie.IMG" alt="Movie Image">
        </div>
        <div class="movie-details__content">
            <h1 class="movie-details__title">@Model.serie.TITLE</h1>

            <div class="movie-details__info">
                <p><strong>Director: </strong>@Model.serie.DIRECTOR_NAME</p>
                <p><strong>Actors: </strong>@Model.serie.ACTOR_NAME</p>
                <p><strong>Number of Seasons: </strong>@Model.serie.QTY_SEASONS</p>
                <p><strong>Synopsis: </strong>@Model.serie.SYNOPSIS</p>
                <p><strong>Classification: </strong>@Model.serie.CLASS</p>
                <p><strong>Release Date: </strong>@Model.serie.RELEASE_DATE</p>
                <p><strong>IMDb Score: </strong>@Model.serie.SCORE/10</p>
                <p><strong>QSTREAM Score: </strong>@Model.serie.QSTREAM_SCORE/10</p>
            </div>

            <!-- Seasons Section -->
            <form action="@Url.Action("getSeasonSerie", "Client")" method="POST">
                <div class="season-select">
                    <label for="season">Select Season:</label>
                    <select id="season" name="selectedSeason">
                        @for (var i = 1; i <= Model.serie.QTY_SEASONS; i++)
                        {
                            <option value="@i">Season @i</option>
                        }
                    </select>
                    <input type="submit" value="Accept" class="season-submit">
                </div>
            </form>

            @if(Model.season != null)
            {
                @foreach(var episode in Model.episodes){
                <div class="episode-details">
                    <div class="episode-details__poster">
                        <img src="@episode.IMG" alt="Episode Image">
                    </div>
                    <div class="episode-details__content">
                        <div class="episode-details__info">
                            <p><strong>Episode: </strong>@episode.NUMBER</p>
                            <p><strong>Episode Name: </strong>@episode.NAME_EPISODE</p>
                            <p><strong>Synopsis: </strong>@episode.SYNOPSIS</p>
                            <p><strong>Duration: </strong>@episode.DURATION</p>
                        </div>
                    </div>
                </div>
                }
            }


               @if (Model.comments.Count != 0)
                {
            <!-- Comment Section -->
            <div class="all-comment-section">
                <h1 class="movie-details__title">Comment Section</h1>
                <!-- ALL COMMENTS -->
             
                    <div class="comment-section">
                        <!-- Mostrar los comentarios de la página actual -->
                        @for (int i = (Model.currentPage - 1) * 3; i < Math.Min(Model.currentPage * 3, Model.comments.Count); i++)
                        {
                            var comment = Model.comments[i];
                            <div class="commentInList">
                                <div class="comment-section">
                                    <label>Username:</label>
                                    <label>@comment.USERNAME</label>
                                </div>
                                <div class="comment-section">
                                    <label>Comment:</label>
                                    <label>@comment.COMMENT</label>
                                </div>
                                <div class="comment-section">
                                    <label>Score:</label>
                                    <label>@comment.RATING</label>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Controles de paginación -->
                    <div id="pagination">
                        @if (Model.totalPages <= 1)
                        {
                            // Solo hay 1 página, no se muestra la paginación
                        }
                        else
                        {
                            @for (int i = 1; i <= Model.totalPages; i++)
                            {
                                <a href="@Url.Action("detailsSerie", "Client", new { TITLE = Model.serie.TITLE, page = i })">@i</a>
                            }
                        }
                    </div>     
            </div>
            }
        </div>
    </div>

    <div class="details-button">

        <button id="pop-up-button" class="pop-up-button">Add Comment</button>
        <form action="@Url.Action("DisplaySeries", "Client")" method="GET">
            <button type="submit" class="go-back-button">
                Go Back
            </button>
        </form>


        <div id="modal1" class="modal">

            <div class="pop-up-window">
                <span class="close-pop-up">&times;</span>
                <form action="@Url.Action("userCommentSerie", "Client")" method="POST">
                    <div class="write-comment-section">
                        <div class="comment-section">
                            <label for="comment" class="commentLB">Comment:</label>
                            <textarea id="commentTA" name="comment" required style="color: black;"></textarea>
                        </div>
                        <div class="comment-section">
                            <label for="score">Score:</label>
                            <input type="text" id="score" name="score" required style="color: black;">
                        </div>
                        <div class="comment-section">
                            <button id="btnComment" type="submit" class="submitBTN">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/js/detailsMoviesAndSeries.js"></script>
</body>
</html>

