@model ProyectoVideoteca.Models.tb_SERIE

@{
    ViewData["Title"] = "detailsSeries";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/movie_and_serie_info.css">
</head>
<body>
    <div class="movie-details">
        <div class="movie-details__poster">
            <img src="@Model.IMG" alt="Movie Image">
        </div>
        <div class="movie-details__content">
            <h1 class="movie-details__title">@Model.TITLE</h1>
            <div class="movie-details__info">
                <p><strong>Director:</strong>@Model.DIRECTOR_NAME</p>
                <p><strong>Actors:</strong>@Model.ACTOR_NAME</p>
                <p><strong>Synopsis:</strong>@Model.SYNOPSIS</p>
                <p><strong>Classification:</strong>@Model.CLASS</p>
                <p><strong>Release Date:</strong>@Model.RELEASE_DATE</p>
                <p><strong>Score:</strong>@Model.SCORE/10</p>
            </div>
            <div class="movie-details__trailer">
                <iframe width="820" height="308" src="https://www.youtube.com/embed/3inw26U-os4" title="Grupo Frontera x Bad Bunny - un x100to (Video Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
</html>

