@model ProyectoVideoteca.Models.tb_MOVIEANDCOMMENTS

@{
    ViewData["Title"] = "detailsMovies";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <div class="movie-details">
        <div class="movie-details__poster">
            <img src="@Model.movie.IMG" alt="Movie Image">
        </div>
        <div class="movie-details__content">
            <h1 class="movie-details__title">@Model.movie.TITLE</h1>
            <div class="movie-details__info">
                <p><strong>Director: </strong>@Model.movie.DIRECTOR_NAME</p>
                <p><strong>Actors: </strong>@Model.movie.ACTOR_NAME</p>
                <p><strong>Synopsis: </strong>@Model.movie.SYNOPSIS</p>
                <p><strong>Classification: </strong>@Model.movie.CLASS</p>
                <p><strong>Duration: </strong>@Model.movie.DURATION</p>
                <p><strong>Release Date: </strong>@Model.movie.RELEASE_DATE</p>
                <p><strong>Score: </strong>@Model.movie.SCORE/10</p>
                <p><strong>QSTREAM Score: </strong>@Model.movie.QSTREAM_SCORE/10</p>
            </div>


            <!-- Comment Section -->
            <div class="all-comment-section">
                <h1 class="movie-details__title">Comment Section</h1>
                <!-- ALL COMMENTS -->
                @if (Model.comments.Count != 0)
                {
                    <div class="comment-section">
                        <!-- Mostrar los comentarios de la página actual -->
                        @for (int i = (Model.currentPage - 1) * 3; i < Math.Min(Model.currentPage * 3, Model.comments.Count); i++)
                        {
                            var comment = Model.comments[i];
                            <div class="commentInList">
                                <div class="comment-section">
                                    <label>Username:</label>
                                    <label>@comment.USERNAME</label>
                                </div>
                                <div class="comment-section">
                                    <label>Comment:</label>
                                    <label>@comment.COMMENT</label>
                                </div>
                                <div class="comment-section">
                                    <label>Score:</label>
                                    <label>@comment.RATING</label>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Controles de paginación -->
                    <div id="pagination">
                        @if (Model.totalPages <= 1)
                        {
                            // Solo hay 1 página, no se muestra la paginación
                        }
                        else
                        {
                            @for (int i = 1; i <= Model.totalPages; i++)
                            {
                                <a href="@Url.Action("detailsMovies", "Client", new { TITLE = Model.movie.TITLE, page = i })">@i</a>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <form action="@Url.Action("userComment", "Client")" method="POST">
            <div class="write-comment-section">
                <div class="comment-section">
                    <label for="comment" class="commentLB">Comment:</label>
                    <textarea id="commentTA" name="comment" required style="color: black;"></textarea>
                </div>
                <div class="comment-section">
                    <label for="score">Score:</label>
                    <input type="text" id="score" name="score" required style="color: black;">
                </div>
                <div class="comment-section">
                    <button id="btnComment" type="submit" class="submitBTN">Submit Comment</button>
                </div>
            </div>
    </form>


    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>

