@model ProyectoVideoteca.Models.tb_USER

@{
    ViewData["Title"] = "editProfile";
}

<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<h1>Edit Profile Section</h1>

<body>
<div class="EP_structure">
    <div class="div_image">
        <img class="profile_image" src="data:image/jpg;base64,@Html.DisplayFor(model => model.IMG)" />
    </div>
        <div class="details_EP">
    <dl class="row">
        <div class="edit-content">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        </div>
            <div class="edit-content">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        </div>
        <div class="edit-content">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PASSWORD)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PASSWORD)
            </dd>
        </div>
        <div class="edit-content">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROLE)
        </dd>
        </div>
    </dl>
</div>

</div>


    <div class="button_section_eps">

    @Html.ActionLink("Edit", "Edit", new { userName = Model.USERNAME }, new { @class = "edit_button" })


    <form action="@Url.Action("ClientMain", "Client")" method="GET">
        <button type="submit" class="buttons">
            Go Back
        </button>
    </form>

    </div>

</body>