@model IEnumerable<ProyectoVideoteca.Models.tb_USER>

@{
    ViewData["Title"] = "Display";
}

<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<h1>Display</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="SuperAdmin" asp-action="DownloadPDF">
    <button class="btn btn-success" type="submit">Report</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROLE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLE)
                </td>
                <td>
                    <select onchange="redirectToView(this)">
                        <option value="" selected>Select an option</option>
                        <option value="@Url.Action("Edit", new { userName = @item.USERNAME })">Edit</option>
                        <option value="@Url.Action("Details", new { userName = @item.USERNAME })">Details</option>
                        <option value="@Url.Action("Delete", new { userName = @item.USERNAME })">Delete</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
